@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<br />
<main>
    <div class="container">
        <div class="center">

            <section class="row">
                @using (Html.BeginForm("Index", "Athena", FormMethod.Get))
                {
                    <button type="submit" class="button">Athena</button>
                }
            </section>
            <br />
            <br />
            <br />
            <section class="row">
                @using (Html.BeginForm("Index", "Asasara", FormMethod.Get))
                {
                    <button type="submit" class="button">Asasara</button>
                }
            </section>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</main>


<style>
    .button {
        background-color: steelblue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 300%;
        align-content: center
    }

    .container {
        height: 500px;
        position: relative;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 35%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>