
@{
    ViewBag.Title = "CheckNewRegion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check New Region</h2>
<br />
<p>Please check Country Code</p>
<p>If new then add to AsasaraRegionLookup table</p>

